body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: $main-font;
  letter-spacing: 0.03em;
  background-color: $white-color;
  color: #000000;

}
html { 
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* resets */
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}



