// @mixin transit($property...) {
//   transition-property: $property;
//   transition-duration: $primary-duration;
//   transition-timing-function: $timing-function;
// }

@mixin transit($property...) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}