//Colors
// -------Header------

$white-color: #FFFFFF;
$button-orange-color: #FF6B01 // also used for film rating
$header-background-color: rgba(0, 0, 0, 0.56);
$line-orange-color:#FF6B08; // also used in main and footer section
$red-text-color: #FF001B;

// ------Main section-----
$black-color: #000000;

// -----Footer------
$footer-background-color: #F7F7F7; //also used as bg-color for arrow-left and right in main section
$footer-text-color: #545454;

//-----Modal-----
$film-details:#8C8C8C;


//Font-family
$main-font: 'Roboto', sans-serif;

