//Colors
// -------Header------


$header-background-color: rgba(0, 0, 0, 0.56);
$line-orange-color: #ff6b08; // also used in main and footer section
$red-text-color: #ff001b;
$btn-accent-color: #FF6B01;
$white-color: #ffffff;

// ------Main section-----
$black-color: #000000;

// -----Footer------
$footer-background-color: #f7f7f7; //also used as bg-color for arrow-left and right in main section
$footer-text-color: #545454;

//-----Modal-----
$film-details: #8c8c8c;

//Font-family
$main-font: 'Roboto', sans-serif;

//Transition
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
