
<footer class="footer"  id="footer">
  <div class="container container-footer">

    <div class="footer-lisense">
      <p class="lisence">&copy; 2021 | All Rights Reserved |</p>
      <p class="lisense-common">Developed with 
        <span class="favorite">
          <svg class="favorite-icon" width="14" height="12">
              <use class="icon-film" href="./images/sprite.svg#icon-favorite"></use>
          </svg>
        </span> by <span data-modal-open class="text-company-link">GoIT Students</span>
      </p>
    </div>
  </div>
</footer>
