<footer class="footer"  id="footer">
  <div class="container container-footer">
    
    <div class="footer-lisense">
      <p class="lisence">&copy; 2021 | All Rights Reserved |</p>
      <p class="lisense-common">Developed with 
        <span class="favorite">
          <svg class="favorite-icon">
              <use class="icon-film" href="./images/sprite.svg#icon-favorite"></use>
          </svg>
        </span> by <section id="anim">
          <a target="_blank" class="tooltip" data-tooltip="create your own success story!" href="https://goit.ua/"
        ><span class="copyright-logo">Go</span>
        <span class="copyright-accent">IT</span>
      </a>
    </section>
      <span data-modal-open class="text-company-link">Students</span>
      </p>
    </div>
  </div>
</footer>