<header class="header">
    <div class="overlay js-overlay">

        
        <!-- Theme-switch -->
        <div class="container"> 
          <div class="toolbar">
          
            <div class="theme-switch">
            <svg class="theme-switch-icon" role="img" aria-label="Иконка солнца">
                <use href="./images/sprite.svg#sun"></use>
            </svg>
        
            <div class="theme-switch-control">
                <input class="theme-switch-toggle" type="checkbox" name="theme" id="theme-switch-toggle"
                    aria-label="Переключить между тёмной и светлой темой" />
                <label aria-hidden="true" class="theme-switch-track" for="theme-switch-toggle">
                </label>
                <div aria-hidden="true" class="theme-switch-marker"></div>
            </div>
        
            <svg class="theme-switch-icon" aria-label="Иконка луны">
                <use href="./images/sprite.svg#moon"></use>
            </svg>
        </div>
        </div>
      </div>
      
    <div class="container container-header" id="home">
        
        <nav class="main-nav">
            <div class="logo">
                <a href="./index.html" class="logo-link js-logo">
                    <svg class="logo-icon" width="24" height="24">
                        <use class="icon-film" href="./images/sprite.svg#icon-film"></use>
                    </svg>
                    <!-- <span class="logo-header">Filmoteka</span> -->


                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" class="filterwrapper">
                        <defs>
                            <svg id="glitchmask-r" width="100%" height="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
                                <line class="top-r" x1="0" y1="0" x2="100%" y2="0"> </line>
                                <line class="bot-r" x1="0" y1="100%" x2="100%" y2="100%"></line>
                            </svg>
                            <svg id="glitchmask-g" width="100%" height="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
                                <line class="top-g" x1="0" y1="0" x2="100%" y2="0"></line>
                                <line class="bot-g" x1="0" y1="100%" x2="100%" y2="100%"></line>
                            </svg>
                
                            <filter color-interpolation-filters="sRGB" id="filter" width="100%" heigth="100%" x="0" y="0">
                                <feFlood flood-color="black" result="black" />
                
                                <!-- red text start -->
                                <feFlood flood-color="red" result="REDTXT_FLOOD_10" />
                                <feComposite operator="in" in="REDTXT_FLOOD_10" in2="SourceAlpha" result="REDTXT_COMP_20" />
                                <feOffset in="SourceGraphic" dx="-2" dy="0" result="REDTXT_OFFSET_30" />
                                <feMerge result="REDTXT_MERGE_40">
                                    <feMergeNode in="black" />
                                    <feMergeNode in="REDTXT_COMP_20" />
                                    <feMergeNode in="REDTXT_OFFSET_30" />
                                </feMerge>
                                <feImage preserveAspectRatio="none" id="mask-r" result="REDTXT_IMG_50" xlink:href="#glitchmask-r" />
                                <feComposite in2="REDTXT_IMG_50" in="REDTXT_MERGE_40" operator="out" result="REDTXT_COMP_60" />
                                <!-- red text end -->
                
                                <!-- green text start -->
                                <feFlood flood-color="limegreen" result="GREENTXT_FLOOD_10" />
                                <feComposite operator="in" in="GREENTXT_FLOOD_10" in2="SourceAlpha" result="GREENTXT_COMP_20" />
                                <feOffset in="SourceGraphic" dx="2" dy="0" result="GREENTXT_OFFSET_30" />
                                <feMerge result="GREENTXT_MERGE_40">
                                    <feMergeNode in="black" />
                                    <feMergeNode in="GREENTXT_COMP_20" />
                                    <feMergeNode in="GREENTXT_OFFSET_30" />
                                </feMerge>
                                <feImage preserveAspectRatio="none" id="mask-g" result="GREENTXT_IMG_50" xlink:href="#glitchmask-g" />
                                <feComposite in2="GREENTXT_IMG_50" in="GREENTXT_MERGE_40" operator="out" result="GREENTXT_COMP_60" />
                                <!-- green text end -->
                
                                <feMerge result="MERGE_10">
                                    <feMergeNode in="SourceGraphic" />
                                    <feMergeNode in="REDTXT_COMP_60" />
                                    <feMergeNode in="GREENTXT_COMP_60" />
                                </feMerge>
                            </filter>
                        </defs>
                    </svg>
               
                <hr/>
                <figure class="glitch-filter-example">
                
                  <svg class="glitch-filter-example__demo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150px" height="70px">
                        <text class="glitch-filter-example__filtered-text" y="50%" text-anchor="middle" x="50%" transform="translate(0 34)">Filmoteka</text>
                    </svg>
                  </figure>
                <hr/>




                </a>
            </div>

                <!-- Authorization -->
                <div class="auth-logo-container auth-list">
                        <div><div class="auth-avatar" id="user-avatar">
                        <svg class="auth-icon" width="30px" height="30px">
                            <use href="./images/sprite.svg#icon-user"></use>
                        </svg>
                        </div>
                        <div id="LoginScreen">
                            <button class="auth-item" id="login">Login</button>
                        </div></div>
                        
                        <div id="dashboard">
                            <div class="userDetails" id="userDetails"></div>
                            <button class="auth-item" id="logout">Logout</button>
                        </div>                    
                </div>
                     
            <div class="navigation js-navigation">
            <ul class="nav-list js-nav">
                <li class="nav-item"><a href="./index.html" class="nav-link js-nav-home nav-link-current">Home</a></li>
                <li class="nav-item"><a href="./index.html" class="nav-link js-nav-library">My library</a></li>
            </ul>
        </div>             
        </nav>
              
        <form class="search-form" id="search-form">
            <div class="form-group">
               <label class="form-label-film">
                    <input type="text" name="query" class="input-film js-film-input" autocomplete="off"
                    id="searchQuery"
                    placeholder="Search films" />
                    <svg class="icon-search" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </label>
            </div>
        </form>

        <div class="btns-library is-hidden" data-action="btn-library-shown">
            <ul class="button-list"> 
                <li class="button-list-item"><button type="button" class="button" data-action="btn-watched">Watched</button></li>
                <li class="button-list-item"><button type="button" class="button" data-action="btn-queue">Queue</button></li> 
            </ul>
        </div>

</div>
</div>

</header>