<header class="header">
    <div class="overlay js-overlay">
    <div class="container container-header" id="home">
        <nav class="main-nav">
            <div class="logo">
                <a href="./index.html" class="logo-link js-logo">
                    <svg class="logo-icon" width="24" height="24">
                        <use class="icon-film" href="./images/sprite.svg#icon-film"></use>
                    </svg>
                    <span class="logo-header">Filmoteka</span>
                </a>
            </div>
            
            <div class="navigation js-navigation">
            <ul class="nav-list js-nav">
                <li class="nav-item"><a href="./index.html" class="nav-link js-nav-home nav-link-current">Home</a></li>
                <li class="nav-item"><a href="./index.html" class="nav-link js-nav-library">My library</a></li>
            </ul>
            </div>
        </nav>

        <form class="search-form" id="search-form">
            <div class="form-group">
               <label class="form-label-film">
                    <input type="text" name="query" class="input-film js-film-input" autocomplete="off"
                    id="searchQuery"
                    placeholder="Search films" />
                    <svg class="icon-search" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </label>
            </div>
        </form>

        <div class="btns-library is-hidden" data-action="btn-library-shown">
            <ul class="button-list"> 
                <li class="button-list-item"><button type="button" class="button" data-action="btn-watched">Watched</button></li>
                <li class="button-list-item"><button type="button" class="button" data-action="btn-queue">Queue</button></li> 
            </ul>
        </div>

</div>
</div>

</header>