<!-- Hidden section title -->
<h1 class="gallery-title-hidden">Filmoteka Movie Catalog</h1>

<!-- Movie Catalog -->
<main>
  <section>
  <div class="container">
  <ul class="gallery">
        <!-- <li class="gallery-item">
            <article class="main-films">
                <img src="./images/Rectangle 5.jpg" alt="" class="film-image" />
                <h2 class="film-title">GREYHOUND</h2>
                <div class="film-content">
                    <ul class="genres-list">
                    <li class="film-genre">Drama, Action | 2020</li>
                    </ul>
                    <p></p>
                    <p class="film-vote">10.0</p>
                </div>
            </article>
        </li>
        <li class="gallery-item">
          <article class="main-films">
            <img src="" alt="" class="film-image" />
            <h2 class="film-title"></h2>
            <div class="film-content">
              <ul class="genres-list">
                <li class="film-genre"></li>
              </ul>
              <p></p>
              <p class="film-vote"></p>
            </div>
          </article>
        </li>
        <li class="gallery-item">
          <article class="main-films">
            <img src="" alt="" class="film-image" />
            <h2 class="film-title"></h2>
            <div class="film-content">
              <ul class="genres-list">
                <li class="film-genre"></li>
              </ul>
              <p></p>
              <p class="film-vote"></p>
            </div>
          </article>
        </li>
        <li class="gallery-item">
              <article class="main-films">
                <img src="" alt="" class="film-image" />
                <h2 class="film-title"></h2>
                <div class="film-content">
                  <ul class="genres-list">
                    <li class="film-genre"></li>
                  </ul>
                  <p></p>
                  <p class="film-vote"></p>
                </div>
              </article>
        </li>
        <li class="gallery-item">
              <article class="main-films">
                <img src="" alt="" class="film-image" />
                <h2 class="film-title"></h2>
                <div class="film-content">
                  <ul class="genres-list">
                    <li class="film-genre"></li>
                  </ul>
                  <p></p>
                  <p class="film-vote"></p>
                </div>
              </article>
        </li>
        <li class="gallery-item">
              <article class="main-films">
                <img src="" alt="" class="film-image" />
                <h2 class="film-title"></h2>
                <div class="film-content">
                  <ul class="genres-list">
                    <li class="film-genre"></li>
                  </ul>
                  <p></p>
                  <p class="film-vote"></p>
                </div>
              </article>
        </li>
        <li class="gallery-item">
                  <article class="main-films">
                    <img src="" alt="" class="film-image" />
                    <h2 class="film-title"></h2>
                    <div class="film-content">
                      <ul class="genres-list">
                        <li class="film-genre"></li>
                      </ul>
                      <p></p>
                      <p class="film-vote"></p>
                    </div>
                  </article>
        </li>
        <li class="gallery-item">
                  <article class="main-films">
                    <img src="" alt="" class="film-image" />
                    <h2 class="film-title"></h2>
                    <div class="film-content">
                      <ul class="genres-list">
                        <li class="film-genre"></li>
                      </ul>
                      <p></p>
                      <p class="film-vote"></p>
                    </div>
                  </article>
        </li>
        <li class="gallery-item">
                  <article class="main-films">
                    <img src="" alt="" class="film-image" />
                    <h2 class="film-title"></h2>
                    <div class="film-content">
                      <ul class="genres-list">
                        <li class="film-genre"></li>
                      </ul>
                      <p></p>
                      <p class="film-vote"></p>
                    </div>
                  </article>
        </li> -->
    </ul>
    
  </div>
  </section>
</main>