
  <div class="backdrop is-hidden">
    <button type="button" class="team-modal-close-button">
    
    </button>
    <div class="team-modal">
      <ul class="team-card-list">
        <li class="team-card-list-item">
          <img src="./images/modal-team/maryna-skrypnyk-4.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Maryna <br>Skrypnyk</h2>
          <p class="team-discription">Scrum Master</p>
          
          <a class="team-contact" href="mailto:marina.skrypnyk@gmail.com">marina.skrypnyk@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Yevhenii <br>Herasumenko</h2>
          <p class="team-discription">Team Lead</p>
          <a class="team-contact" href="mailto:zhekager91@gmail.com">zhekager91@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/modal-team/alexandra-shyshkovskaya_adaptiv_4.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Alexandra <br>Shyshkovskaya</h2>
          <p class="team-discription">Developer</p>
          <a class="team-contact" href="mailto:alexis.shyshka@gmail.com">alexis.shyshka@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Tetiana <br>Shostak</h2>
          <p class="team-discription">Developer</p>
          <a class="team-contact" href="mailto:tanyashostak13@gmail.com">tanyashostak13@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Władysław <br>Reginiewicz</h2>
          <p class="team-discription">Developer</p>
          <a class="team-contact" href="mailto:wladyslaw.reginiewicz@gmail.com">wladyslaw.reginiewicz@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/modal-team/natalia-prygunova.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Nataliya <br>Prygunova</h2>
          <p class="team-discription">Developer</p>
          <a class="team-contact" href="mailto:prygunova@gmail.com">prygunova@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Sonya <br>Starodub</h2>
          <p class="team-discription">Developer</p>
          <a class="team-contact" href="mailto:starodyb1987@gmail.com">starodyb1987@gmail.com</a>
        </li>
        <li class="team-card-list-item">
          <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img">
          <h2 class="team-name">Yana <br>Filippova</h2>
          <p class="team-discription">Developer</p>
          <a class="team-contact" href="mailto:yanasukhomlinova1986@gmail.com">yanasukhomlinova1986@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>