.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-bottom: 60px;
  }
}

.pagination-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-arrow {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-position: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $line-orange-color;
    color: $white-color;
    @include transit(background-color);
  }

  &:active {
    background-color: $line-orange-color;
  }
}

.arrow-left {
  background-image: url('../../src/images/pagination/arrow-left.svg');
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .arrow-left {
    display: none;
  }
}

.arrow-right {
  background-image: url('../../src/images/pagination/arrow-right.svg');
  background-repeat: no-repeat;
}

.pages-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pages-numbers button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: $white-color;
}
.dark-theme-button {
  background-color: #212121;
  color: lightgrey;
}

.pages-numbers button:hover,
.pages-numbers button.active {
  background-color: $line-orange-color;
  color: $white-color;
  cursor: pointer;
  @include transit(background-color);
}

@media screen and (max-width: 480px) {
  .pages-numbers button {
    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 10px;
  }
}

.dots {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  padding: 10px 5px 1px 5px;
}

@media screen and (max-width: 480px) {
  .dots {
    padding: 10px 1px 1px 1px;
  }
}

.hide {
  display: none;
}

.disabled-arrow {
  pointer-events: none;
  background-color: $footer-background-color;
}
