.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

@media screen and (min-width: 769px) {
  .pagination {
    padding-bottom: 60px;
  }
}

.pagination-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination-arrow {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-position: center;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: $line-orange-color;
    color: $white-color;
  }
  &:active {
    background-color: $line-orange-color;
  }
}
.arrow-left {
  background-image: url('../../src/images/pagination/arrow-left.svg');
  background-repeat: no-repeat;
}

.arrow-right {
  background-image: url('../../src/images/pagination/arrow-right.svg');
  background-repeat: no-repeat;
}

.pages-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pages-numbers button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: $white-color;
}

.pages-numbers button:hover,
.pages-numbers button.active {
  background-color: $line-orange-color;
  color: $white-color;
  border-radius: 5px;
}

.dots {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  padding: 10px 5px 1px 5px;
}

@media screen and (max-width: 767px) {
  .dots {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .dots {
    display: inline-block;
  }
}

.hide {
  display: none;
}

.disabled-arrow {
  pointer-events: none;
  background-color: $footer-background-color;
}
