.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $footer-background-color;
}

.footer-lisense {
  margin: 0;
  padding: 0;
  text-align: center;
  color: $footer-text-color;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}

.lisence {
  margin: 0 0 10px 0;

  @media screen and (min-width: 768px) {
    margin: 0 3px 0 0;
  }
}

.lisense-common {
  margin: 0;
}

.lisense-link,
.text-company-link {
  margin: 0;
  text-decoration: underline;
  color: $footer-text-color;
  cursor: pointer;
  transition: 0.8s;
  &:hover {
    text-decoration: none;
    transform: scale(1.03);
    color: $red-text-color;
  }
}

@media screen and (min-width: 768px) {
  .footer-lisense {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.favorite {
  display: inline-flex;
  align-items: center;
}
