// hidden section title
.gallery-title-hidden {
  @extend %is-hidden;
}

.gallery {
  padding: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.films-gallery .container {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 46px;
  }
}

.list-item {
  min-height: 440px;
  width: 280px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19); //удалить

  @media screen and (min-width: $tablet) {
    margin-bottom: 31px;
    width: 294px;

    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 15px) / 3);
    width: 274px;
  }
}

.list-item:hover {
  //видалити?
  transform: scale(1.05);
}

.film-image {
  position: relative;
  margin-bottom: 10px;
  width: 280px;
  height: 398px;
  overflow: hidden;
  border-radius: 5px;
  @media screen and (min-width: $tablet) {
    width: 294px;
  }
  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}

.film-content {
  display: flex;
}

.film-title {
  @extend %font-title;
}
.film-content {
  @extend %font-description;
  color: $btn-accent-color;
}
.genres-list {
  padding: 0;
}

.film-genre {
  display: inline;
}

.delimiter {
  padding: 0 3px 0 3px;
}

.film-date {
  margin-right: 10px;
}

.film-vote-background {
  display: flex;
  justify-content: center;
  padding: 1.5px 10px;
  width: 36px;
  height: 16px;

  background: $btn-accent-color;
  border-radius: 5px;
  color: $white-color;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.card-content {
  padding: 0 5px 5px 5px;
}
